body {
    font-family: 'Arial', sans-serif;
    text-align: center;
    padding-top: 110px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0;
    padding: 0;
    background-image: url(../img/SpotLinkbg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;

    font-family: "Zen Maru Gothic", serif;
    font-weight: 400;
    font-style: normal;
}

.chat-container {
    width: 100%;
    max-width: 310px;
    margin: 50px auto;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-top:30px;
}

.chat-item {
    display: flex;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #f0f0f0;
}

.chat-item:last-child {
    border-bottom: none;
}

.avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 15px;
    object-fit: cover;
}

.chat-info {
    flex: 1;
}

.chat-info a {
    font-size: 18px;
    color: #333;
    text-decoration: none;
    font-weight: bold;
}

.chat-info a:hover {
    color: #007bff;
}

.chat-info p {
    margin: 5px 0 0;
    font-size: 14px;
    color: #777;
}

/* Search Bar */
.form {
    max-width: 500px;
    margin: 30px auto;
    display: flex;
    justify-content: center;
    padding: 10px;
    margin-top: 85px;
}

.textbox{
    width: 70%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 20px;
    font-size: 16px;
    margin-right: 10px;
}

button {
    border: none;
    background-color: #007bff;
    color: white;
    border-radius: 20px;
    font-size: 16px;
    cursor: pointer;
    width: 45px;
    height: 40px;
}

button:hover {
    background-color: #0056b3;
}

.back-button{
    margin-top: 60px;
    border-radius: 20px;
    font-size: 16px;
    cursor: pointer;
    position: fixed;
    bottom: 10px;
    left: 10px;
}