body {
    /* padding-top: 120px; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 70vh;
    margin: 0;
    background-image: url(../img/SpotLinkbg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;

}

.back-link {
    position: fixed;
    bottom: 20px;
    left: 10px;
    font-size: 16px; /* フォントサイズ */
    text-decoration: none;
    font-size: 16px;
    background-color: #f0f0f0;
    color: #333;
    border: 1px solid #ccc;
    padding: 8px 15px; /* 内側の余白 */
}

.back-link:hover{
    background-color: rgb(54, 98, 216);
    color: white;
}

.usericon{
    width: 90px;
    height: 90px;
    border-radius: 50%;
    object-fit: cover;

}

.username {
    font-size: 20px; /* リンクのフォントサイズを大きく */
    font-weight: bold;
    color: #007bff; /* 青色リンク */
    text-decoration: none;
    transition: color 0.3s;
}

.username:hover {
    color: #0056b3; /* ホバー時の色変更 */
}