body {
    padding-top: 110px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0;
    background-image: url(../img/SpotLinkbg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;

    font-family: "Zen Maru Gothic", serif;
    font-weight: 400;
    font-style: normal;
}

h1 {
    margin-top: auto;
}
table {
    width: 100%;
    margin: auto;
    margin-top: 20px;
}
th, td {
    white-space: nowrap; /* 改行を防ぐ */
    overflow: hidden; /* はみ出たテキストを隠す */
    /* text-overflow: ellipsis; /* はみ出たテキストに "..." を表示 */
}
.usericon{
    border-radius: 50%;
    object-fit: cover;
}
@media screen and (max-width: 480px) {
    th, td {
        font-size: 20px; /* スマホ用にフォントサイズを小さく */
        padding: px; /* スマホ用にパディングを小さく */
    }
}
.back-link {
    margin-top:50px;
    font-size: 16px; /* フォントサイズ */
    text-decoration: none;
    background-color: #5240f8;
    color: white;
    padding: 10px 15px; /* 内側の余白 */
    border-radius: 5px; /* 角を丸く */
    border-color: #5240f8;
}
.back-link:hover {
    background-color: #2112af;
    color: white;
}
.button_quit,
.button_del {
    min-width: 10px;
    height: 36px;
    padding: 0 16px;
    font-size: 18px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-radius: 5px;
}
.button_quit {
    border-color: rgb(248, 88, 88);
    color: rgb(248, 88, 88);
}
.button_quit:hover {
    background-color: rgb(207, 40, 40);
    color: white;
}
.button_del {
    border-color: rgb(248, 88, 88);
    color: rgb(248, 88, 88);
}
.button_del:hover {
    background-color: rgb(207, 40, 40);
    color: white;
}
.non {
    font-size: 22px;
}
.selected {
    color: blue;
}
.unselected {
    color: gray;
}

.atag{
    text-decoration: none;
    color: inherit;
}

.atag:hover, .atag:active, .atag:visited{
    color: inherit;
    text-decoration: none;
}

.favorite_list{
    background-color: white;
    /* margin: 15px; */
    width: fit-content;
    padding-inline: 3%;
    /* margin: 15px; */
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    /* position: relative; */
    /* text-align: center; */
    border-radius: 40px;
}