@media screen and (max-width: 480px){
      header {
            background-color: white;
            position: fixed; /*** ← fixedで固定 ***/
            /* position: sticky; */
            top: 0;
            z-index: 999;
            margin: 0 ;
            padding: 0;
            width: 100%;  /* 画面幅に合わせる */
            height: 70px;
            display: flex; /* フレックスボックスを適用 */
      }
      
      .header-container {
            display: flex;
            justify-content: space-between; /* 左右に要素を分ける */
            align-items: center;
            width: 100%;
            padding: 0 10px;
        }
      
      *{
            margin: 0 ;
            padding: 0;
          
      }
          
           
      .icon {
            width: 25%;  /* アイコンの横幅を30%に調整 */
            height: auto;
      }
          
      .spot{
          width: 230px;
          height: 70px;
      }
      
      .right-elements {
            display: flex;
            align-items: center;
            gap: 10px; /* 要素間の隙間を調整 */
        }
      
      .bell{
            width: 30px;
            height: 30px;
      }

      .search1{
            border-color: black;
            background-color: white;
            color: black;
            border-radius: 5px;
            height: 30px;
            width: 45px;
            display: block;
            margin: auto;
            font-size: 20px;
          }
        
      .search1:hover{
            background-color: gray;
            color: black;
      }
        
      .tbox{
            height: 25px;
            display: block;
            margin: auto;
      }
      .usericon2{
            width: 90px;
            height: 90px;
            border-radius: 50%;
            object-fit: cover;
          }
}