@media screen and (max-width: 480px){
  .header-area {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 100%;
    font-family: "Zen Maru Gothic", serif;
    font-weight: 400;
    font-style: normal;

  }

    /* ハンバーガーメニューのデザイン */
  .hamburger {
    width: 40px;
    height: 40px;
    cursor: pointer;
    border: 2px solid #00CFFF;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .hamburger span {
    position: absolute;
    width: 5%;
    height: 3px;
    background-color: #00CFFF;
    transition: 0.5s ease-in-out;
  }

  .hamburger span:first-of-type {
    top: 35%;
  }

  .hamburger span:nth-of-type(2) {
    top: 52%;
    transform: translateY(-50%);
  }

  .hamburger span:last-of-type {
    top: 65%;
  }

  /* スライドメニュー */
  .slide-menu {
    background-color: rgb(64, 157, 224);
    position: fixed;
    top: 70px;  /* ヘッダーの下に配置 */
    width: 250px;
    height: 100%;
    right: 0;
    transform: translateX(100%);
    transition: transform 0.5s ease;
  }

    /* ユーザー情報セクション */
  .user-info {
    padding: 20px;
    color: white;
    text-align: center;
  }

  .user-info p {
    margin: 0;
    font-size: 18px;
  }

  .search-box {
    width: 80%;
    padding: 5px;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
    font-size: 14px;
  }

   /* メニューリスト */
  .slide-menu ul {
    padding-top: 6px;
    height: 100%;
    list-style: none;
    overflow-y: scroll;
    text-align: center;
  }

  .slide-menu li a{
    line-height: 2.2;
    text-align: center;
    list-style: none;
    font-size: 17px;
    color: black; /* すべてのメニューリンクを黒文字に */
    text-decoration: none; 
  }

  /* ログアウトの赤文字 */
  .slide-menu li.logout a {
    color: #bf4545; /* ログアウトのみ赤文字 */
  }

  /* ハンバーガーアクティブ時のアニメーション */
  .hamburger.active span:first-of-type {
    top: 50%;
    transform: rotate(45deg);
  }

  .hamburger.active span:nth-of-type(2) {
    opacity: 0;
  }

  .hamburger.active span:last-of-type {
    top: 50%;
    transform: rotate(-45deg);
  }

   /* スライドメニューアクティブ時 */
  .slide-menu.active {
    transform: translateX(0);
  }
}