body {
    font-family: "Zen Maru Gothic", serif;
    font-weight: 400;
    font-style: normal;
    background-image: url(../img/SpotLinkbg.png);
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-position: center center;
              
     /* 画像をタイル状に繰り返し表示しない */
     background-repeat: no-repeat;
               
     /* コンテンツの高さが画像の高さより大きい時、動かないように固定 */
     background-attachment: fixed;
               
     /* 表示するコンテナの大きさに基づいて、背景画像を調整 */
     background-size: cover;
               
     /* 背景画像が読み込まれる前に表示される背景のカラー */
     /* background-color: #464646; */
     /* height: 100%; */
     /* padding-top: 125px; */
     padding-top: 110px;
}

img{
    width:210px;
    height:160px;
}

form {
    width: 400px;
    padding: 30px;
    display: flex; 
    flex-direction: column;
    align-items: stretch;
}

.form-group {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    flex-direction: column;
}

.form-group label {
    width: 140px;
    margin-right: 70px;
    margin-bottom: 5px; /* ラベルと入力フィールドの間に少し間隔を設定 */
    text-align: left; /* ラベルのテキストを左揃えにする */
    white-space: nowrap;
}

.form-group input[type="password"],
.form-group input[type="email"],
.form-group select {
    flex: 1;
    padding: 10px;
    margin: 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    height: 45px;
    width: 200px;
}

.error{
    text-align: center;
    color: red;
}

.next{
    text-align:center;
}

input[type="submit"] {
    width: 35%;
    background-color: #d8dcdf;
    color: #3a3838;
    padding: 10px;
    border: none;
    border-radius: 4px;
    font-size: 16px; 
    margin-top: 20px;
    margin: 20px auto 0;
}

a, a:visited {
    color: #4b4bff;
    text-decoration: none;
}