body{
   background-image: url(../img/SpotLinkbg.png); 
  
  /* 画像を常に天地左右の中央に配置 */
   background-position: center center;
            
  /* 画像をタイル状に繰り返し表示しない */
   background-repeat: no-repeat;
            
  /* コンテンツの高さが画像の高さより大きい時、動かないように固定 */
   background-attachment: fixed;
            
  /* 表示するコンテナの大きさに基づいて、背景画像を調整 */
   background-size: cover;
            
  /* 背景画像が読み込まれる前に表示される背景のカラー */
   /* background-color: #464646; */
   /* height: 100%; */
   /* padding-top: 125px; */
   padding-top: 110px;

  font-family: "Zen Maru Gothic", serif;
  font-weight: 400;
  font-style: normal;
  height: 630px;
}

.title{
  text-align: center;
  font-size: 25px;
}


/* .map{
} */


a{
  display: block;
}

.select{/* margin-right: 45px; */margin: auto 65px;}


.block { 
  margin: 0 auto;
  padding: 0px;
  height: 85px;
  width: 100%;
  background-color: #ffffff; 
  border: 1px solid #ccc; 
  border-radius: 5px;
  box-shadow: inset 1px 1px 5px rgba(255, 255, 255, 0.7), 
              inset -1px -1px 5px rgba(0, 0, 0, 0.2), 
              2px 2px 5px rgba(0, 0, 0, 0.3); 
} 

.table {
  height: 110%;
  margin-left:20%;
  width: 80%;
  table-layout: fixed;
  margin: auto 10%;
  margin-top: 35px;
}

.number{
  display: flex;
  flex-wrap: wrap;
}

/* 学外 Section */
.gakugai-container {
  display: inline-block;
  background-color: #007bff;
  color: white;
  padding: 2px 30px;
  border-radius: 25px;
  text-decoration: none;
  font-weight: bold;
  text-align: center;
  transition: background-color 0.3s ease;
  position: absolute;
  right: 121px;
  top: 274px;
}


.gakugai-container:hover {
  background-color: #0056b3;       /* ホバー時の青色（少し濃くする） */
}

.box {
    height: 100px;
}

button {
  display: inline-block;
  border: none;
  border-radius: 5px;
  padding: 8px 6px;
  margin: 22px;
  background-color: #17A7E9;
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 10px;
  cursor: pointer;
}

.list{
  /* text-align: center; */
  /* margin-left: 42%; */
  font-size: 17px;
}

.usericon{
width: 38px;
height: 38px;
border-radius: 50%;
object-fit: cover;
}

.abst{
  background-color: rgb(177, 177, 177);
  color: black;
  border-radius: 5px; /* 角丸をつける */
  padding: 1px 10px; /* ボタンの内側の余白 */
  text-align: center; /* ボタンのテキストを中央揃えにする */
  text-decoration: none; /* テキストに下線をつけない */
  font-size: 15px; /* テキストのフォントサイズ */
  cursor: pointer; /* マウスポインタを変更する */
  height: 40px;
}

.abst:hover{
  background-color: rgb(160, 158, 158);
}

.user-kensaku{
  margin: auto -20px;
  text-align: -webkit-center;
  background-color: lightskyblue;
  border: 5px solid #30d4c5;
}


.kensaku-user{
  margin: auto 46px;
}