body{
    text-align: center;
    padding-top: 110px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0;
    background-image: url(../img/SpotLinkbg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;

    font-family: "Zen Maru Gothic", serif;
    font-weight: 400;
    font-style: normal;
}

table{
    margin: auto;
}

span{
    font-size: 20px;
}

.textbox{
    width: 200px;
    font-size: 20px;
    text-align: center;
    cursor: pointer;
    line-height: 36px;
    border: none;
    border-radius: 5px;
    margin-top: 15px;
}

.button_in{
    min-width: 10px;
    height: 36px;
    padding: 0 16px;
    font-size: 18px;
    display: inline-flex;
    align-items: center;
    justify-content: center;  
    border-color: rgb(93, 134, 246);
    background-color: white;
    color:rgb(93, 134, 246);
    border-radius: 5px;
    margin-top: 15px;
}

.button_in:hover{
    background-color: rgb(54, 98, 216);
    color: white;
}

.button_up{
    min-width: 10px;
    height: 36px;
    padding: 0 16px;
    font-size: 18px;
    display: inline-flex;
    align-items: center;
    justify-content: center;  
    border-color: rgb(107, 224, 185);
    background-color: white;
    color:rgb(107, 224, 185) ;
    border-radius: 5px;
}

.button_up:hover{
    background-color:rgb(26, 203, 144) ;
    color: white;
}

.button_del{
    min-width: 10px;
    height: 36px;
    padding: 0 16px;
    font-size: 18px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-color: rgb(248, 88, 88);
    background-color: white;
    color: rgb(248, 88, 88);
    border-radius: 5px;
}  

.button_del:hover{
    background-color: rgb(207, 40, 40);
    color: white;
}

.back-link {
    position: fixed;
    bottom: 20px;
    left: 10px;
    font-size: 16px; /* フォントサイズ */
    text-decoration: none;
    background-color: #5240f8; /* 背景色 */
    padding: 8px 15px; /* 内側の余白 */
    border-radius: 5px; /* 角を丸く */
    border-color: #5240f8;
    color: white;
}

.back-link:hover{
    background-color: #2112af;
    color: white;
}

.join{
    min-width: 10px;
    height: 36px;
    padding: 0 16px;
    font-size: 18px;
    display: inline-flex;
    align-items: center;
    justify-content: center;  
    border-color: rgb(230, 183, 64);
    background-color: white;
    color:rgb(230, 183, 64);
    border-radius: 5px;
}

.join:hover{
    background-color: rgb(230, 153, 64);
    color: white;
}

.joined{
    min-width: 10px;
    height: 36px;
    padding: 0 16px;
    font-size: 18px;
    display: inline-flex;
    align-items: center;
    justify-content: center;  
    background-color: rgb(179, 247, 91);
    color:black;
    border-radius: 5px;
}

.joined:hover{
    background-color: rgb(63, 225, 95);
    color: black;
}