body {
    font-family: Arial, sans-serif;
    background-image: url(../img/SpotLinkbg.png); /* 背景画像 */
    background-position: center center;
              
    /* 画像をタイル状に繰り返し表示しない */
    background-repeat: no-repeat;
              
    /* コンテンツの高さが画像の高さより大きい時、動かないように固定 */
    background-attachment: fixed;
              
    /* 表示するコンテナの大きさに基づいて、背景画像を調整 */
    background-size: cover;
              
    /* 背景画像が読み込まれる前に表示される背景のカラー */
    background-color: #464646; 
    height: 100%;
    padding-top: 110px;
    font-family: "Zen Maru Gothic", serif;
    font-weight: 400;
    font-style: normal;

}

h2 {
    color: #333;
    margin-bottom: 10px; /* フォームとの間隔を狭める */
    font-size: 24px;
    text-align: center;
}

/* Form Styles */
form {
    width: 400px; /* フォームの幅 */
    padding: 30px; /* フォームの内側の余白 */
    display: flex; 
    flex-direction: column; /* 縦に並べる */
    align-items: stretch; /* フォーム内の要素を幅いっぱいに */
}

/* Form Fields */
.form-group {
    display: flex; /* 横に並べる */
    align-items: center; /* 中央に揃える */
    margin-bottom: 15px; /* 各グループの間隔 */
    flex-direction: column;
}

.form-group label {
    width: 150px; /* ラベルの幅 */
    margin-right: 95px; /* ラベルと入力欄の間隔 */
    margin-bottom: 5px; /* ラベルと入力フィールドの間に少し間隔を設定 */
    text-align: left; /* ラベルのテキストを左揃えにする */
    white-space: nowrap; /* 改行しない */
}

.form-group input[type="text"],
.form-group input[type="password"],
.form-group input[type="email"] {
    flex: 1; /* 残りのスペースを占める */
    padding: 10px; /* 内側の余白 */
    margin: 0; /* 外側の余白を0に */
    border: 1px solid #ccc; /* 枠線 */
    border-radius: 4px; /* 角を丸く */
    box-sizing: border-box; /* 幅と高さをパディングとボーダーに含める */
    height: 40px; /* 高さを固定 */
    width: 250px;
}

.form-group select {
    flex: 1;
    padding: 10px;
    margin: 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 250px;
    box-sizing: border-box;
    height: 40px; /* ここで高さを調整 */
    -webkit-appearance: none; /* ブラウザごとのデフォルトスタイルを無効化 */
    -moz-appearance: none;
    appearance: none;
}

.button-group {
    display: flex; /* フレックスボックスを使用 */
    flex-direction: column; /* 縦並びに変更 */
    align-items: center; /* 中央揃え */
}

/* Submit Button */
input[type="submit"] {
    width: 80px; /* 幅を100%にすることでバランスを取る */
    background-color: #5f666a; /* ボタンの背景色 */
    color: #fff; /* ボタンの文字色 */
    padding: 10px; /* 内側の余白 */
    border: none; /* 枠線なし */
    border-radius: 4px; /* 角を丸く */
    cursor: pointer; /* カーソルをポインタに */
    font-size: 16px; /* フォントサイズ */
    margin-top: 20px; /* 上の要素との間隔 */
    margin: 20px auto 0; /* 上の要素との間隔を20px、左右のマージンを自動で中央に配置 */
    display: block; /* ブロック要素として表示 */
}

input[type="submit"]:hover {
    background-color: #2980b9; /* ホバー時の背景色 */
}

.back-link {
    display: block; /* ブロック要素として表示 */
    text-align: center; /* テキストを中央揃え */
    font-size: 16px;
    text-decoration: none;
    background-color: #a0eefc;
    padding: 8px 15px;
    border-radius: 5px;
    margin: 20px auto 0; /* 上の要素との間隔、左右中央揃え */
    width: 50px; /* コンテンツに基づいた幅にする */
}

.back-link:hover {
    background-color: #ffffff; /* ホバー時の背景色 */
}

h1{
    margin-left: 128px;
}