/* General Styles */
body {
    text-align: center;
    padding-top: 110px;
    background-image: url(../img/SpotLinkbg.png);

    font-family: "Zen Maru Gothic", serif;
    font-weight: 400;
    font-style: normal;
}

h1 {
    margin-top: auto;
}

table {
    margin: auto;
    font-size: 14px;
    margin-top: 26px;
}

th{
    font-size: 16px;
}

.join_tag {
    font-size: 16px;
    text-decoration: none;
    background-color: #6de5ff;
    color: #4700c6;
    padding: 8px 15px;
    border-radius: 5px;
}

.join_tag:hover {
    background-color: rgb(54, 98, 216);
    color: white;
}

.textbox {
    margin-top: 25px;
    width: 45%;
    font-size: 30%;
    text-align: center;
    cursor: pointer;
    line-height: 36px;
    border: none;
    border-radius: 5px;
    border-color: white;
}

.search {
    width: 80px;
    height: 36px;
    padding: 0 16px;
    font-size: 16px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(192, 191, 191);
    color: black;
    border-radius: 5px;
}

.search:hover {
    background-color: black;
    color: white;
}

.back-link {
    position: static;
    /* bottom: 20px; */
    left: 10px;
    font-size: 13px;
    text-decoration: none;
    background-color: #5240f8;
    color: white;
    padding: 8px 10px;
    border-radius: 5px;
}

.back-link:hover {
    background-color: #2112af;
    color: white;
}

.join {
    min-width: 80px;
    height: 36px;
    padding: 0 16px;
    font-size: 16px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-color: rgb(230, 183, 64);
    background-color: white;
    color: rgb(230, 183, 64);
    border-radius: 5px;
}

.join:hover {
    background-color: rgb(230, 153, 64);
    color: white;
}

.joined {
    min-width: 80px;
    height: 36px;
    padding: 0 16px;
    font-size: 16px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(179, 247, 91);
    color: black;
    border-radius: 5px;
}

.joined:hover {
    background-color: rgb(63, 225, 95);
    color: black;
}
