body {
    text-align: center;
    padding-top: 110px;
    background-image: url(../img/SpotLinkbg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    
    display: flex; /* Flexboxを使用して垂直方向も中央寄せ */
    justify-content: center;
    align-items: center;
    min-height: 100vh; /* 画面全体の高さに対応 */
    margin: 0;
    font-family: "Zen Maru Gothic", serif;
    font-weight: 400;
    font-style: normal;

}

/* 全体を中央寄せするためのレイアウト */
#uploadForm {
    max-width: 200px; /* フォームの最大幅を設定 */
    margin: 0 auto; /* 全体を中央に寄せる */
    padding: 40px; /* フォーム全体に余白を追加 */
    background-color: #fff; /* 背景色を白に設定 */
    border-radius: 10px; /* 角を丸く */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* 軽い影を追加 */
    text-align: center; /* コンテンツを中央寄せ */
}

/* アイコンの表示を大きくし、中央に揃える */
#existingIcon, #preview {
    width: 180px; /* 幅を大きく設定 */
    height: 180px; /* 高さを大きく設定 */
    object-fit: cover; /* 画像が歪まないように調整 */
    border-radius: 50%; /* アイコンを丸く表示 */
    margin-bottom: 20px; /* 下に余白を追加 */
    display: block; /* 画像をブロック要素に */
    margin: 0 auto; /* 画像を中央に揃える */
}

/* ラベルとテキストボックスのスタイルを大きく */
label {
    font-size: 1em; /* ラベルの文字サイズを大きく */
    margin-right: 85px;
}

input[type="text"], select {
    font-size: 1em; /* テキストボックスとセレクトボックスの文字サイズを大きく */
    padding: 12px;
    width: 85%; /* 幅を広く設定 */
    margin-bottom: 20px; /* 下に余白を追加 */
    border: 1px solid #ccc;
    border-radius: 5px; /* 角を丸くする */
    box-sizing: border-box; /* パディングを含む幅 */
}

/* ファイル選択ボタンのスタイル */
#fileInput {
    /* font-size: 1.2em; */
    margin-bottom: 20px; /* 下に余白を追加 */
    /* padding: 10px; ファイル選択ボタンにパディングを追加 */
}

/* 保存ボタンのスタイル */
#uploadButton {
    font-size: 1.0em; /* ボタンの文字サイズを大きく */
    padding: 10px 15px; /* ボタンに余白を追加 */
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#uploadButton:hover {
    background-color: #45a049;
}

/* プレビュー画像のスタイル */
#preview {
    margin-top: 10px;
    max-width: 180px; /* プレビューも大きめに */
    max-height: 180px;
    display: block;
    margin: 0 auto; /* プレビュー画像も中央に揃える */
}

#back {
    font-size: 1.0em; /* ボタンの文字サイズを大きく */
    padding: 10px 15px; /* ボタンに余白を追加 */
    background-color: #095db7;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#back:hover {
    background-color: #0099c3;
}

#pass{
    font-size: 1.0em; /* ボタンの文字サイズを大きく */
    padding: 10px 15px; /* ボタンに余白を追加 */
    background-color: #f7e15a;
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    position: relative;
    top: 15px;
}

#pass:hover {
    background-color: #ffdb00;
    color: black;
}