body {
    padding-top: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 70vh;
    margin: 0;
    background-image: url(../img/SpotLinkbg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;

}

.profile-container{
    align-items: center;
    padding: 10px;
    margin: 20px auto;
    max-width: 352px;
    width: 100%;
    background-color: #f9f9f9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 27px;
}
 
.user-container {
   display: flex;
    align-items: center;
}

.favorite-container{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 20px;
}



button {
    width: 3em;
    height: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f9f9f9;
    color: black;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color:#17A6E9;
}


.confirmbutton{
/* margin-left: 290px; */
background-color: #17A7E9;
border:#f9f9f9;
color: black;
padding: -10px 37px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 15px;
cursor: pointer;
border-radius: 50px; /* 50pxの角丸 */
transition: background-color 0.3s ease;
margin-left: 70%;
}

/* button:hover {
    background-color:#17A7E9;
} */

.profile{align-items:center;
         align-items: center;
         padding-left: 50px;
}

.tag{
    background-color: azure;
    border: 2px solid #17A7E9;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: flex-start;
    /* padding-left: 40px; */
    padding: 0px 15px 0px 20px;
    margin: 0px 70px 0px 67px;
}


.usericon{
    width: 90px;
    height: 90px;
    border-radius: 50%;
    object-fit: cover;
}