body {
    background-image: url(../img/SpotLinkbg.png);
    padding-top: 145px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 70vh;
    margin: 0;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #464646;
    display: grid;
    font-size: 18px;
    color: #333;
    font-family: "Zen Maru Gothic", serif;
    font-weight: 400;
    font-style: normal;

}

.container {
    width: 95%;
    max-width: 800px;
    margin: 0 auto;
    background-color: rgba(255, 255, 255, 0.95);
    padding: 20px 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.announcement-item {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.label {
    font-weight: bold;
    color: #555;
    font-size: 18px;
    margin-right: 10px; /* ラベルと内容の間にスペースを確保 */
    white-space: nowrap; /* ラベルが複数行に折り返されないようにする */
}

.content {
    font-size: 20px;
    color: #333;
    /* background-color: #f7f7f7; */
    padding: 8px 12px;
    border-radius: 5px;
    flex-grow: 1; /* コンテンツが残りの幅を占める */
    text-align: left;
}

.back-btn {
    background-color: #5240f8;
    border: none;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin: 20px auto 0;
    display: inline-block;
    font-size: 18px;
}

.back-btn:hover {
    background-color: #2112af;
}