body {
    /* font-family: 'Arial', sans-serif;
    background-color: #a0eefc; */
    margin: 0;
    padding: 0;
    background-image: url(../img/SpotLinkbg.png);
    
    /* 画像を常に天地左右の中央に配置 */
    background-position: center center;
              
    /* 画像をタイル状に繰り返し表示しない */
    background-repeat: no-repeat;
              
    /* コンテンツの高さが画像の高さより大きい時、動かないように固定 */
    background-attachment: fixed;
              
    /* 表示するコンテナの大きさに基づいて、背景画像を調整 */
    background-size: cover;
              
    /* 背景画像が読み込まれる前に表示される背景のカラー */
    background-color: #464646;
    font-family: "Zen Maru Gothic", serif;
    font-weight: 400;
    font-style: normal;

}

.chat-container {
    width: 100%;
    max-width: 500px;
    margin: 50px auto;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.chat-item {
    display: flex;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #f0f0f0;
}

.chat-item:last-child {
    border-bottom: none;
}

.avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 15px;
    object-fit: cover;
}

.chat-info {
    flex: 1;
}

.chat-info a {
    font-size: 18px;
    color: #333;
    text-decoration: none;
    font-weight: bold;
}

.chat-info a:hover {
    color: #007bff;
}

.chat-info p {
    margin: 5px 0 0;
    font-size: 14px;
    color: #777;
}

/* Search Bar */
.form {
    max-width: 500px;
    margin: 30px auto;
    display: flex;
    justify-content: center;
    padding: 10px;
    margin-top:140px;
}

.textbox{
    width: 80%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 20px;
    font-size: 16px;
    margin-right: 10px;
}

button {
    padding: 10px 15px;
    border: none;
    background-color: #007bff;
    color: white;
    border-radius: 20px;
    font-size: 16px;
}

button:hover {
    background-color: #0056b3;
}

.back-button{
    margin-top: 60px;
    float: left;
}

.back-link {
    position: fixed;
    bottom: 20px;
    left: 10px;
    font-size: 16px; /* フォントサイズ */
    text-decoration: none;
    background-color: #5240f8;
    color: white;
    padding: 8px 15px; /* 内側の余白 */
    border-radius: 5px; /* 角を丸く */
}

.back-link:hover{
    background-color: #2112af;
    color: white;
}


