/* General Styles */
body {
    background-image: url(../img/SpotLinkbg.png);
    margin: 0;
    padding: 0;
    font-family: "Zen Maru Gothic", serif;
    font-weight: 400;
    font-style: normal;

}


main {
    margin: 100px auto; /* 上部に余白を持たせる */
    width: 80%;
    max-width: 600px; /* 最大幅を制限 */
    padding: 20px;
    border-radius: 8px;
}

h1 {
    text-align: center;
    font-size: 24px;
    color: #333;
}

span {
    display: block;
    margin-bottom: 20px;
    text-align: center;
    font-size: 18px;
}

table {
    width: 100%;
    margin-bottom: 20px;
    border-collapse: collapse;
}

th, td {
    text-align: left;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.button_del{
    min-width: 120px;
    height: 36px;
    padding: 0 16px;
    font-size: 18px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-color: rgb(248, 88, 88);
    background-color: white;
    color: rgb(248, 88, 88);
    border-radius: 5px;
}  

.button_del:hover{
    background-color: rgb(207, 40, 40);
    color: white;
}

.back-link {
    position: fixed;
    bottom: 20px;
    left: 10px;
    font-size: 16px;
    text-decoration: none;
    background-color: #a0eefc;
    padding: 8px 15px;
    border-radius: 5px;
}

.back-link:hover {
    background-color: rgb(54, 98, 216);
    color: white;
}
