body{
    /* text-align: center; */
    padding-top: 130px;
    background-image: url(../img/SpotLinkbg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #464646;
    background-attachment: fixed;
    font-family: "Zen Maru Gothic", serif;
    font-weight: 400;
    font-style: normal;

}

h1{
    text-align: center;
    margin-top: auto;
}

table{
    margin: auto;
    margin-top: 20px;
    min-width: 33%;
}

.back-link {
    position: fixed;
    left: 0%;
    /* margin-top: 50px; */
    /* left: 10%; */
    margin: 20px;
    font-size: 16px;
    text-decoration: none;
    background-color: #5240f8;
    color: white;
    padding: 8px 15px;
    border-radius: 5px;
}

.back-link:hover{
    background-color: rgb(54, 98, 216);
    color: white;
}

.clickable {
    color: gray;
    cursor: pointer;
    font-size: 18px;
    margin-right: 15px;
}

.active {
    color: blue;
}


th {
    color: gray;
    cursor: pointer;
    padding: 10px;
}

.active {
    color: blue;
}
