body {
    /* text-align: center; */
    padding-top: 130px;
    background-image: url(../img/SpotLinkbg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #464646;
    background-attachment: fixed;
    font-family: "Zen Maru Gothic", serif;
    font-weight: 400;
    font-style: normal;

}
h1 {
    margin-top: auto;
}
table {
    margin: auto;
    margin-top: 20px;
}
.usericon {
    margin: 0; /* アイコンの外側の余白を削除 */
    padding: 0; /* アイコンの内側の余白を削除 */
    display: inline-block;
    vertical-align: middle; /* テキストとアイコンを中央揃え */
    margin-right:30px;
    border-radius: 50%;
    object-fit: cover;
}
.back-link {
    /* position: fixed; */
    /* left: 10px; */
    margin-top:50px;
    font-size: 16px; /* フォントサイズ */
    text-decoration: none;
    background-color: #5240f8;
    color: white;
    padding: 8px 15px; /* 内側の余白 */
    border-radius: 5px; /* 角を丸く */
    margin: 20px;
    border-color: #5240f8;
}
.back-link:hover {
    background-color: #2112af;
    color: white;
}
.button_quit,
.button_del {
    min-width: 100px;
    height: 36px;
    padding: 0 16px;
    font-size: 18px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-radius: 5px;
}
.button_quit {
    border-color: rgb(248, 88, 88);
    color: rgb(248, 88, 88);
}
.button_quit:hover {
    background-color: rgb(207, 40, 40);
    color: white;
}
.button_del {
    border-color: rgb(248, 88, 88);
    color: rgb(248, 88, 88);
    margin-left:30px;
}
.button_del:hover {
    background-color: rgb(207, 40, 40);
    color: white;
}
.non {
    font-size: 25px;
}
.selected {
    color: blue;
}
.unselected {
    color: gray;
}
.okini{
    text-align: center;
}

.atag{
    text-decoration: none;
    color: inherit;
}

.atag:hover, .atag:active, .atag:visited{
    color: inherit;
    text-decoration: none;
}

.non{
    text-align: center;
}

.favorite_list{
    background-color: white;
    /* margin: 15px; */
    width: fit-content;
    padding-inline: 3%;
    /* margin: 15px; */
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    /* position: relative; */
    /* text-align: center; */
    border-radius: 40px;

}
.favorite_table {
    border-collapse: collapse;
}

.favorite_table tr {
    border-bottom: 1px solid #333;
}

