.ul1 {
    display: flex;
    flex-wrap: wrap; /* 要素を折り返す */
    justify-content: flex-start; /* 左寄せ */
    padding: 0;
    margin: 20px auto;
    max-width: 800px; /* 適当な最大幅を設定 */
}

.li1 {
    width: calc(50% - 20px); /* 横に二つ並べるための幅 */
    box-sizing: border-box; /* パディング込みの幅計算 */
    margin: 10px; /* 要素間の余白 */
    font-size: 40px;
    border-radius: 45px;
    background-color: transparent; /* 背景色を透明に設定 */
    border: none; /* 境界線を取り除く */
}

.li1:nth-child(odd):last-child {
    width: calc(100% - 20px); /* 奇数個の場合の最後の要素を左寄せ */
}

.a1 {
    display: block;
    padding: 10px;
    color: black;
    text-decoration: none;
    text-align: center; /* 中央揃え */
}

.san {
    font-size: 30px;
    color: blue;
}

.back-link {
    position: fixed;
    bottom: 20px;
    left: 10px;
    font-size: 16px; /* フォントサイズ */
    text-decoration: none;
    background-color: #a0eefc; /* 背景色 */
    padding: 8px 15px; /* 内側の余白 */
    border-radius: 5px; /* 角を丸く */
}

.back-link:hover {
    background-color: rgb(54, 98, 216);
    color: white;
}
