/* General Styles */
body {
    background-image: url(../img/SpotLinkbg.png);
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Header Styles */
/* ここでヘッダーが固定されていると仮定 */
header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background-color: #fff; /* ヘッダーの背景色 */
    z-index: 1000; /* ヘッダーを最前面に */
}

/* Main Content Styles */
main {
    margin-top: 90px; /* ヘッダーの高さを考慮して調整 */
    padding: 20px; /* 全体にパディングを追加 */
    text-align: left; 
}

h1 {
    font-size: 24px; /* フォントサイズ */
    color: #333; /* フォント色 */
}

ul {
    list-style: none;
    padding: 0;
    margin: 20px;
}

li {
    margin-bottom: 10px;
    /* background-color: #f9f9f9;
    border: 1px solid #ccc; */
    border-radius: 4px;
}

li a {
    display: block;
    padding: 10px;
    text-decoration: none;
    /* color: #333; */
}

