  header {
    background-color: white;
    position: fixed; /*** ← fixedで固定 ***/
    /* position: sticky; */
    top: 0;
    z-index: 999;
    margin: 0 ;
    padding: 0;
    width: 100%;
    height: 100px;
    display: flex; /* フレックスボックスを適用 */
  }
  *{
    margin: 0 ;
    padding: 0;
  
  }
  
   
  .icon {
    margin-left: 38%;
  }
  
  .bell {
    width: 50px; /* ハンバーガーメニューと同じ高さ */
    height: 50px;
    display: flex;
    justify-content: center; /* 中央揃え */
    align-items: center;
}

.bell img {
  width: 30px; /* アイコン自体のサイズ */
  height: 30px;
}
