header {
  background-color: white;
  position: fixed;
  top: 0;
  z-index: 999;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between; /* 子要素間にスペースを配置 */
  padding: 0 20px; /* 左右の余白を設定 */
}
  *{
    margin: 0 ;
    padding: 0;
  
  }
  
   
  .icon {
    margin-left: 38%;
  }
  
  .bell {
    margin-left: auto;
    margin-right: 20px; /* ロゴとのスペースを調整 */
}

.bell img {
  width: 30px; /* アイコン自体のサイズ */
  height: 30px;
}
