body {
    padding-top: 120px;
    background-image: url(../img/SpotLinkbg.png);
    /* text-align:center; */
}

table {
    border-collapse: collapse; /* Collapses borders into a single border */
    width: 80%; /* Adjusts table width */
    margin: 0 auto; /* Centers the table */
}

tr {
    border-bottom: 1px solid #ddd; /* Adds a horizontal line between rows */
}

td {
    padding: 15px; /* Adds padding to each cell */
    text-align: left; /* Aligns text to the left */
}

td:nth-child(2) {
    padding-left: 15px; /* Adds padding to second column */
}

/* Button styles for info and edit buttons */
.info, .edit {
    background-color: #4CAF50; /* Button background color */
    color: white; /* Button text color */
    padding: 8px 16px; /* Button padding */
    margin: 4px 2px; /* Button margin */
    border: none; /* Removes border */
    border-radius: 8px; /* Rounds button corners */
    cursor: pointer; /* Changes cursor to pointer */
}

.large-text {
    font-size: 21px;
}

.back-link {
    bottom: 20px;
    left: 10px;
    font-size: 16px; /* Font size */
    text-decoration: none;
    background-color: #a0eefc; /* Background color */
    padding: 8px 15px; /* Padding */
    border-radius: 5px; /* Rounds corners */
}

.back-link:hover {
    background-color: rgb(54, 98, 216);
    color: white;
}

.usericon {
    text-align: center;
    margin-left: 300px;
    width: 110px;
    height: 110px;
    border-radius: 50%;
    object-fit: cover;
}

.day {
    text-align: center;
    margin-left: 300px;
    color: rgb(103, 102, 102);
}

.title {
    font-size: 20px;
}

.center {
    text-align: center;
}
