body { 
    background-image: url(../img/SpotLinkbg.png);
    background-size: cover;
    background-repeat: no-repeat;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    min-height: 100vh;
}

main {
    margin-top: 100px;
    margin-bottom: 100px;
    width: 100%;
    max-width: 600px;
    padding: 100px 20px 20px; /* Added top padding to create space for h1 */
    border-radius: 8px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

h1 {
    position: absolute;
    top: 20px; /* Adjusted for spacing from the top */
    left: 50%;
    transform: translateX(-50%);
    margin: 0;
    z-index: 1;
    white-space: nowrap; /* Prevent text wrapping */
}

h3 {
    margin: auto;
    margin-top: 60px;
}

table {
    margin: auto;
    white-space: nowrap;
    margin-top: 20px; /* Reduced top margin to balance spacing */
    width: 100%;
}

td { 
    padding: 8px;
    white-space: nowrap;
    border-bottom: 1px solid #333;
}
 th { 
    padding: 8px;
    white-space: nowrap;
    border-bottom: 2px solid #333;
}


.back-link {
    position: fixed;
    bottom: 20px;
    left: 10px;
    font-size: 16px;
    text-decoration: none;
    background-color: #a0eefc;
    padding: 8px 15px;
    border-radius: 5px;
}

.back-link:hover {
    background-color: rgb(54, 98, 216);
    color: white;
}

.button_quit {
    min-width: 120px;
    height: 36px;
    padding: 0 16px;
    font-size: 18px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-color: rgb(248, 88, 88);
    background-color: white;
    color: rgb(248, 88, 88);
    border-radius: 5px;
}

.button_quit:hover {
    background-color: rgb(207, 40, 40);
    color: white;
}

.selected {
    color: blue;
}

.unselected {
    color: gray;
}
