body {
    font-family: Arial, sans-serif;
    background-image: url(../img/SpotLinkbg.png);
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center;
}

form {
    width: 400px;
    padding: 30px;
    display: flex; 
    flex-direction: column;
    align-items: stretch;
}

.form-group {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.form-group label {
    width: 150px;
    margin-right: 10px;
    text-align: right;
    white-space: nowrap;
}

.form-group input[type="password"],
.form-group input[type="email"],
.form-group select {
    flex: 1;
    padding: 10px;
    margin: 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    height: 40px;
}

input[type="submit"] {
    width: 20%;
    background-color: #d8dcdf;
    color: #3a3838;
    padding: 10px;
    border: none;
    border-radius: 4px;
    font-size: 16px; 
    margin-top: 20px;
    margin: 20px auto 0;
}