body{
    background-image: url(../img/SpotLinkbg.png);
    
    /* 画像を常に天地左右の中央に配置 */
    background-position: center center;
              
    /* 画像をタイル状に繰り返し表示しない */
    background-repeat: no-repeat;
              
    /* コンテンツの高さが画像の高さより大きい時、動かないように固定 */
    background-attachment: fixed;
              
    /* 表示するコンテナの大きさに基づいて、背景画像を調整 */
    background-size: cover;
              
    /* 背景画像が読み込まれる前に表示される背景のカラー */
    background-color: #464646;
    height: 100%;
    padding-top: 125px;

  
}

*{
    margin: 0;
    padding: 0;
}


.map{
    /* margin: 55px;
    padding: 20px; */
    border-radius: 10px;
    margin-bottom: 10px; 
}


.block{
    border: 2px solid #333333;
    padding: 0px;
    /* height: 120px;
    width: 800px; */
    /* margin-inline-start: 21%; */
    height: 85px;
}

table {
    margin: 0px 10px 0px 370px;  /* 左右の中央揃え */
    table-layout: fixed;  /* テーブル全体の幅を固定 */
    width: 100%;  /* 必要に応じてテーブルの幅を調整 */
    /* text-align: center; */ /* テーブル内のコンテンツを中央揃え */
    height: 110%;
}

.number{
    display: flex;
    flex-wrap: wrap;
    margin-left: 10%;
}

/* .gakugai{
    background-color: #464646;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    color: white;
    margin-right: 10px;
    margin-bottom: 10px;
    display: flex;
    position:fixed;
} */

/* 学外 Section */
/* .gakugai-container {
    background-color: #b3b3b3;
    padding: 15px; 
    border-radius: 10px;
    margin-top: 0; 
} */


button {
    display: inline-block; /* ボタンを横並びにする */
    border: none; /* 枠線をなくす */
    border-radius: 5px; /* 角丸をつける */
    padding: 10px 15px; /* ボタンの内側の余白 */
    margin: 5px; /* ボタン同士の余白 */
    background-color: #17A7E9; /* ボタンの背景色 */
    color: white; /* ボタンの文字色 */
    text-align: center; /* ボタンのテキストを中央揃えにする */
    text-decoration: none; /* テキストに下線をつけない */
    font-size: 15px; /* テキストのフォントサイズ */
    cursor: pointer; /* マウスポインタを変更する */
  }

.list{
    margin-left: 68%;
    font-size: 20px;
    /* align-items: center; */
}

.usericon{
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
}