/* 全体のレイアウト */
body {
    display: flex;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

#sidebar {
    width: 300px;
    background-color: #f8f8f8;
    padding: 20px;
    box-sizing: border-box;
    border-right: 1px solid #ddd;
    position: fixed;
    height: 100%;
    top: 0;
    left: -300px; /* サイドバーが初期状態で隠れるように */
    visibility: hidden; /* サイドバーが表示されていない状態にする */
    overflow-y: auto;
    transition: left 0.3s ease, visibility 0s 0.3s; /* サイドバーのスライドアニメーション */
    z-index: 5; /* メニューの背面に配置 */
}

#map {
    flex-grow: 1;
    height: 100vh;
    margin-left: 0;
    background-color: #f0f0f0;
    transition: margin-left 0.3s ease;
}

/* 友達リスト */
#friend-list {
    list-style-type: none;
    padding: 0;
}

.friend-item {
    display: flex;
    align-items: center;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.friend-item:hover {
    background-color: #e0e0e0;
}

.friend-item img {
    border-radius: 50%;
    margin-right: 10px;
}

.friend-item span {
    font-size: 14px;
    color: #333;
}

/* 現在地マーカー */
.marker {
    background-color: #ff5722;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    background-size: cover;
    cursor: pointer;
}

/* 地図のカスタマイズ */
.mapboxgl-popup {
    max-width: 200px;
}

button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 20px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #45a049;
}

/* ハンバーガーメニュー */
#hamburger-btn {
    position: fixed;
    top: 20px; /* 上からの距離 */
    left: 20px; /* 左からの距離 */
    font-size: 20px; /* フォントサイズを小さくする */
    cursor: pointer;
    z-index: 10; /* ボタンが他の要素よりも前に表示されるようにする */
    padding: 10px; /* ボタン内の余白を調整 */
}

#sidebar.open {
    left: 0; /* サイドバーを表示位置にスライド */
    visibility: visible; /* サイドバーを表示する */
    transition: left 0.3s ease, visibility 0s; /* アニメーションの遅延を解除 */
}

#map.open {
    margin-left: 300px; /* サイドバーが開いたときに地図をスライド */
}
