body{
    text-align: center;
    padding-top: 110px;
    background-color: #a0eefc;
}

table{
    margin: auto;
}

.button_up{
    min-width: 200px;
    height: 36px;
    font-size: 18px;
    font-weight: bold;
    padding: 0 16px;
    display: inline-flex;
    align-items: center;
    justify-content: center;  
}

.button_del{
    min-width: 200px;
    height: 36px;
    font-size: 18px;
    font-weight: bold;
    padding: 0 16px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}  