body{
    background-image: url(../img/SpotLinkbg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #464646;
    background-attachment: fixed;
    /* text-align: center; */
    padding-top: 110px;
    font-family: "Zen Maru Gothic", serif;
    font-weight: 400;
    font-style: normal;
    height: 630px;
}

/* Style for table and table cells */
table {
    margin: auto;
    border-collapse: collapse;

    border-spacing: 6px 10px; /* Reduces row and column space */
    font-size: 18pt;
    /* width: 60%; */
    max-width: 100%;
}

/* h1 {
    text-align: center;
    font-size: 35px;
    color: #333;
} */

td {
    padding: 6px 0px; /* Reduces space inside cells */
    text-align: center;
    border-bottom: 1px solid #333;
}

th {
    font-weight: bold;
    border-bottom: 2px solid #333;
    padding: 6px 0px; /* Matches td padding */
}


/* Add some spacing around the buttons */
.button_in, .button_up, .button_del, .join, .joined {
    padding: 10px 20px;
    margin: 5px; /* Adds space between buttons */
    font-size: 16px;
    cursor: pointer;
    display: inline-block;
    border-radius: 5px;
}


/* span{
    font-size: 20px;
} */

.textbox{
    margin-top: 25px;
    width: 200px;
    font-size: 20px;
    text-align: center;
    cursor: pointer;
    line-height: 36px;
    border: none;
    border-radius: 5px;
}

.text{
    margin-top: 30px;
    text-align: center;
    font-size: 20px;
}

.button_in{
    min-width: 120px;
    height: 36px;
    padding: 0 16px;
    font-size: 18px;
    display: inline-flex;
    align-items: center;
    justify-content: center;  
    border-color: rgb(93, 134, 246);
    background-color: white;
    color:rgb(93, 134, 246);
    border-radius: 5px;
}

.button_in:hover{
    background-color: rgb(54, 98, 216);
    color: white;
}

.button_up{
    min-width: 100px;
    height: 36px;
    padding: 0 16px;
    font-size: 18px;
    display: inline-flex;
    align-items: center;
    justify-content: center;  
    border-color: rgb(107, 224, 185);
    background-color: white;
    color:rgb(107, 224, 185) ;
    border-radius: 5px;
}

.button_up:hover{
    background-color:rgb(26, 203, 144) ;
    color: white;
}

.button_del{
    min-width: 100px;
    height: 36px;
    padding: 0 16px;
    font-size: 18px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-color: rgb(248, 88, 88);
    background-color: white;
    color: rgb(248, 88, 88);
    border-radius: 5px;
}  

.button_del:hover{
    background-color: rgb(207, 40, 40);
    color: white;
}

.back-link {
    position: fixed;
    bottom: 20px;
    left: 10px;
    font-size: 16px; /* フォントサイズ */
    text-decoration: none;
    background-color: #5240f8; /* 背景色 */
    padding: 8px 15px; /* 内側の余白 */
    border-radius: 5px; /* 角を丸く */
    border-color: #5240f8;
    color: white;
}

.back-link:hover{
    background-color: #2112af;
    color: white;
}
.join{
    min-width: 100px;
    height: 36px;
    padding: 0 16px;
    font-size: 18px;
    display: inline-flex;
    align-items: center;
    justify-content: center;  
    border-color: rgb(230, 183, 64);
    background-color: white;
    color:rgb(230, 183, 64);
    border-radius: 5px;
}

.join:hover{
    background-color: rgb(230, 153, 64);
    color: white;
}

.joined{
    min-width: 100px;
    height: 36px;
    padding: 0 16px;
    font-size: 18px;
    display: inline-flex;
    align-items: center;
    justify-content: center;  
    background-color: rgb(179, 247, 91);
    color:black;
    border-radius: 5px;
}

.joined:hover{
    background-color: rgb(63, 225, 95);
    color: black;
}

.center{
    text-align: center;
}

.tag_list_table{
    background-color: white;
        /* margin: 15px; */
        width: fit-content;
        padding-inline: 3%;
        /* margin: 15px; */
        justify-content: center;
        margin-left: auto;
        margin-right: auto;
        /* position: relative; */
        /* text-align: center; */
        padding-bottom: 3%;
        padding-top: 1%;
        border-radius: 40px;
}

.title {
    margin-bottom: 1%;
    font-size: 2em !important; /* フォントサイズを大きく */
}
h1.okini {
    display: flex;
    justify-content: center;
    gap: 5px; /* 文字の間隔 */
    font-size: 35px; /* ここで文字サイズを設定 */
    color: #333;
}

h1.okini span {
    display: inline-block;
    opacity: 0; /* 初期状態で見えないようにする */
    animation: floatUp 1s forwards; /* アニメーションを適用 */
}

@keyframes floatUp {
    from {
        opacity: 0;
        transform: translateY(10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
