body {
    text-align: center;
    padding-top: 110px;
    background-color: #a0eefc;
}

table {
    margin: auto;
}

span {
    font-size: 20px;
}

.tag_name {
    width: 240px;
    height: 30px;
}

.button_in {
    min-width: 120px;
    height: 36px;
    padding: 0 16px;
    font-size: 18px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-color: rgb(93, 134, 246);
    background-color: white;
    color: rgb(93, 134, 246);
    border-radius: 5px;
}

.button_in:hover {
    background-color: rgb(54, 98, 216);
    color: white;
}

.button_up {
    min-width: 120px;
    height: 36px;
    padding: 0 16px;
    font-size: 18px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-color: rgb(107, 224, 185);
    background-color: white;
    color: rgb(107, 224, 185);
    border-radius: 5px;
}

.button_up:hover {
    background-color: rgb(26, 203, 144);
    color: white;
}

.button_del {
    min-width: 120px;
    height: 36px;
    padding: 0 16px;
    font-size: 18px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-color: rgb(248, 88, 88);
    background-color: white;
    color: rgb(248, 88, 88);
    border-radius: 5px;
}

.button_del:hover {
    background-color: rgb(207, 40, 40);
    color: white;
}

.back-link {
    position: fixed;
    bottom: 20px;
    left: 10px;
    font-size: 16px;
    text-decoration: none;
    background-color: #a0eefc;
    padding: 8px 15px;
    border-radius: 5px;
}

.back-link:hover {
    background-color: rgb(54, 98, 216);
    color: white;
}