body {
  padding-top: 120px;
  background-image: url(../img/SpotLinkbg.png);
  text-align: center; /* 親要素の中央揃え */
  font-family: "Zen Maru Gothic", serif;
  font-weight: 400;
  font-style: normal;

}

#qrcode {
  height: 160px;
  margin-top: 15px;
  display: inline-block; /* インラインブロック要素として扱う */
  margin-left: auto; /* 自動で左側の余白を設定 */
  margin-right: auto; /* 自動で右側の余白を設定 */
}

#qrcode-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

#qrcode {
  height: 160px;
  margin-top: 15px;
}

.room{
  font-size: 30px;
}
