/* General Styles */
body {
    font-family: Arial, sans-serif;
    background-image: url(../img/SpotLinkbg.png); /* 背景画像 */
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-size: cover;
    background-position: center;
}

h2 {
    color: #333;
    margin-bottom: 20px;
    font-size: 24px;
    text-align: center;
}

a {
    color: #3498db;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* "戻る"ボタンを左上に配置 */
a[href="login.php"] {
    position: absolute;
    top: 20px;   /* 画面上部からの距離 */
    left: 20px;  /* 画面左からの距離 */
    font-size: 16px;
}

/* Form Styles */
form {
    width: 600px;
    padding: 30px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

/* Form Fields */
.form-group {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.form-group label {
    width: 150px;
    margin-right: 10px;
    text-align: right;
    white-space: nowrap;
    line-height: 1.5;
}

.form-group input[type="text"],
.form-group input[type="password"],
.form-group input[type="email"],
.form-group select {
    flex: 1;
    padding: 10px;
    margin: 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    height: 40px;
}

/* Submit Button */
input[type="submit"] {
    width: 150px; /* ボタンの幅 */
    background-color: #5f666a;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 20px; /* 上の要素との間隔 */
    display: block; /* ブロック要素として表示 */
    margin-left: auto; /* 左のマージンを自動 */
    margin-right: auto; /* 右のマージンを自動 */
}

input[type="submit"]:hover {
    background-color: #2980b9;
}
