/* General Styles */
body {
    font-family: Arial, sans-serif;
    background-image: url(../img/SpotLinkbg.png);
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column; /* 要素を縦に並べる */
    justify-content: center;
    align-items: center; 
    height: 100vh;
}

h2 {
    color: #333;
    margin-bottom: 20px;
    font-size: 24px;
}

a {
    display: inline-block;
    margin-bottom: 10px;
    color: #3498db;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Form Styles */
form {
    width: 400px; /* フォーム全体の幅を広げる */
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

/* Form Fields: 横並びにする */
.form-group {
    display: flex; /* ラベルとテキストボックスを横並びに */
    align-items: center;
    margin-bottom: 10px;
}

.form-group label {
    width: 40%; /* ラベルの幅を40%に設定 */
    margin-right: 10px;
    white-space: nowrap; /* テキストの改行を防ぐ */
}

.form-group input[type="text"],
.form-group input[type="password"],
.form-group input[type="email"],
.form-group select {
    width: 60%; /* テキストボックスの幅を60%に設定 */
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

/* Submit Button */
input[type="submit"] {
    width: 100px; /* 幅を固定で100pxに設定 */
    background-color: #5f666a;
    color: rgb(0, 0, 0);
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    margin-top: 10px; /* 上にスペースを追加 */
}

input[type="submit"]:hover {
    background-color: #2980b9;
}

