body{
    text-align: center;
    padding-top: 110px;
    background-color: #a0eefc;
}

h1{
    margin-top: auto;
}

table{
    margin: auto;
}

.search{
    width: 100px;
    height: 36px;
    padding: 0 16px;
    font-size: 18px;
    display: inline-flex;
    align-items: center;
    justify-content: center;  
    background-color: rgb(192, 191, 191);
    color:black;
    border-radius: 5px;
}

.search:hover{
    background-color: black;
    color: white;
}

.back-link {
    position: fixed;
    bottom: 20px;
    left: 10px;
    font-size: 16px; /* フォントサイズ */
    text-decoration: none;
    background-color: #a0eefc; /* 背景色 */
    padding: 8px 15px; /* 内側の余白 */
    border-radius: 5px; /* 角を丸く */
}

.back-link:hover{
    background-color: rgb(54, 98, 216);
    color: white;
}

.join{
    min-width: 100px;
    height: 36px;
    padding: 0 16px;
    font-size: 18px;
    display: inline-flex;
    align-items: center;
    justify-content: center;  
    border-color: rgb(230, 183, 64);
    background-color: white;
    color:rgb(230, 183, 64);
    border-radius: 5px;
}

.join:hover{
    background-color: rgb(230, 153, 64);
    color: white;
}

.joined{
    min-width: 100px;
    height: 36px;
    padding: 0 16px;
    font-size: 18px;
    display: inline-flex;
    align-items: center;
    justify-content: center;  
    background-color: rgb(179, 247, 91);
    color:black;
    border-radius: 5px;
}

.joined:hover{
    background-color: rgb(63, 225, 95);
    color: black;
}