body {
    /* text-align: center; */
    padding-top: 130px;
    background-image: url(../img/SpotLinkbg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #464646;
    background-attachment: fixed;
    padding-bottom: 50px;
    font-family: "Zen Maru Gothic", serif;
    font-weight: 400;
    font-style: normal;

}

h1 {
    margin-top: auto;
}

table {
    margin: auto;
    border-collapse: collapse;

    border-spacing: 6px 10px;
    /* Reduces row and column space */
    font-size: 18pt;
    /* width: 60%; */
    max-width: 100%;
}

td {
    padding: 6px 2px;
    /* Reduces space inside cells */
    text-align: center;
    border-bottom: 1px solid #333;
}

th {
    font-weight: bold;
    border-bottom: 2px solid #333;
    padding: 6px 2px;
    /* Matches td padding */
}

.join_tag {
    font-size: 16px;
    text-decoration: none;
    background-color: #6de5ff;
    color: #4700c6;
    padding: 8px 15px;
    border-radius: 5px;
}

.join_tag:hover {
    background-color: rgb(54, 98, 216);
    color: white;
}

.textbox {
    margin-top: 25px;
    width: 30%;
    font-size: 20px;
    text-align: center;
    cursor: pointer;
    line-height: 36px;
    /*ここの数値を変更*/
    border: none;
    border-radius: 5px;
    /* 角を丸く */
    border-color: white;
}

.search {
    width: 100px;
    height: 36px;
    padding: 0 16px;
    font-size: 18px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(192, 191, 191);
    color: black;
    border-radius: 5px;
}

.search:hover {
    background-color: black;
    color: white;
}

.back-link {
    position: fixed;
    bottom: 20px;
    left: 10px;
    font-size: 16px;
    /* フォントサイズ */
    text-decoration: none;
    background-color: #5240f8;
    color: white;
    padding: 8px 15px;
    /* 内側の余白 */
    border-radius: 5px;
    /* 角を丸く */
}

.back-link:hover {
    background-color: #2112af;
    color: white;
}

.join {
    min-width: 100px;
    height: 36px;
    padding: 0 16px;
    font-size: 18px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-color: rgb(230, 183, 64);
    background-color: white;
    color: rgb(230, 183, 64);
    border-radius: 5px;
}

.join:hover {
    background-color: rgb(230, 153, 64);
    color: white;
}

.joined {
    min-width: 100px;
    height: 36px;
    padding: 0 16px;
    font-size: 18px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(179, 247, 91);
    color: black;
    border-radius: 5px;
}

.joined:hover {
    background-color: rgb(63, 225, 95);
    color: black;
}

.center {
    text-align: center;
}

.tag_list_table {
    background-color: white;
    /* margin: 15px; */
    width: fit-content;
    padding-inline: 3%;
    /* margin: 15px; */
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    /* position: relative; */
    /* text-align: center; */
    padding-bottom: 3%;
    padding-top: 1%;
    border-radius: 40px;
}
.title{
    margin-bottom: 1%;
}