@media screen and (min-width: 1280px){
  /* ヘッダー */
      .header-area {
        display: flex;
        justify-content: flex-end; /* 右端に要素を寄せる */
        align-items: center;
        height: 100%; /* ヘッダー全体をカバー */
        padding-right: 45px; /* ハンバーガーの余白を調整 */
    }

    /* ハンバーガーメニューのデザイン */
    hamburger {
      width: 40px;
      height: 40px;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      border: 2px solid #00CFFF;
      border-radius: 50%;
      position: relative;
      z-index: 15; /* ヘッダー要素より前面に表示 */
      background-color: #fff;
  }
  .hamburger span {
      display: block;
      width: 20px;
      height: 2px;
      background-color: #00CFFF;
      margin: 4px 0;
      transition: 0.4s;
  }

    .hamburger span:first-of-type {
      top: 25%;
    }

    .hamburger span:nth-of-type(2) {
      top: 50%;
      transform: translateY(-50%);
    }

    .hamburger span:last-of-type {
      top: 75%;
    }

    /* スライドメニュー */
    .slide-menu {
      position: fixed;
      top: 0;
      left: -250px; /* 初期位置を画面外に */
      width: 250px;
      height: 100%;
      background-color: rgba(46, 149, 222, 0.8);
      transition: left 0.3s ease;
      z-index: 14; /* ハンバーガーメニューの背面に設定 */
    }

    /* ユーザー情報セクション */
    .user-info {
      padding: 20px;
      color: white;
      text-align: center;
    }

    .user-info p {
      margin: 0;
      font-size: 18px;
    }

    .search-box {
      width: 80%;
      padding: 5px;
      margin-top: 10px;
      border: none;
      border-radius: 5px;
      font-size: 14px;
    }

    /* メニューリスト */
    .slide-menu ul {
      padding-top: 10px;
      height: 100%;
      list-style: none;
      overflow-y: scroll;
      
    }

    .slide-menu li {
      height: auto;
      color: #fff;
      line-height: 2.5;
      text-align: center;
      list-style: none;
      font-size: 18px;
      
    }

    /* ログアウトの赤文字 */
    .slide-menu li.logout {
      color: red; /* ログアウトのみ赤色 */
    }

    /* ハンバーガーアクティブ時のアニメーション */
    .hamburger.active span:first-of-type {
      top: 50%;
      transform: rotate(45deg);
    }

    .hamburger.active span:nth-of-type(2) {
      opacity: 0;
    }

    .hamburger.active span:last-of-type {
      top: 50%;
      transform: rotate(-45deg);
    }

    /* スライドメニューアクティブ時 */
    .slide-menu.active {
      left: 0; /* メニューを画面内に表示 */
    }
  }