body {
    overflow-x: hidden;
  }
  
  .header-area {
    display: flex;
    justify-content: space-between;
    height: 65px;
    padding: 0 20px;
    align-items: center;
    position: relative;
  }
  
  /* ハンバーガーメニューの全体（円） */
  .hamburger {
    width: 60px;
    height: 60px;
    position: absolute; /* 位置を絶対指定 */
    right: 20px; /* 画面右から20pxの位置に固定 */
    top: 50%; /* 縦方向の中央に配置 */
    transform: translateY(-50%); /* 完全な中央揃え */
    cursor: pointer;
    border: 2px solid #00CFFF; /* 円の外側を青で表示 */
    border-radius: 50%; /* 円形にする */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  /* ハンバーガーの線 */
  .hamburger span {
    position: absolute;
    width: 70%; /* ハンバーガーの線の幅 */
    height: 4px; /* 線の太さ */
    background-color: #00CFFF; /* 線の色を青に */
    transition: .5s ease-in-out; /* アニメーションをスムーズに */
  }
  
  /* 各線の位置 */
  .hamburger span:first-of-type {
    top: 25%;
  }
  
  .hamburger span:nth-of-type(2) {
    top: 50%;
    transform: translateY(-50%);
  }
  
  .hamburger span:last-of-type {
    top: 75%;
  }
  
  /* メニュー（スライドして出てくる） */
  .slide-menu {
    background-color: rgba(0, 0, 0, .8);
    position: fixed;
    top: 65px;
    width: 250px;
    height: 100%;
    right: 0;
    transform: translateX(100%);
    transition: transform 0.5s ease;
  }
  
  .slide-menu li {
    color: #fff;
    line-height: 3;
    text-align: center;
    list-style: none;
  }
  
  /* ハンバーガーメニューの線が交差するアニメーション */
  .hamburger.active span:first-of-type {
    top: 50%;
    transform: rotate(45deg);
  }
  
  .hamburger.active span:nth-of-type(2) {
    opacity: 0;
  }
  
  .hamburger.active span:last-of-type {
    top: 50%;
    transform: rotate(-45deg);
  }
  
  /* スライドメニューが表示される際のアニメーション */
  .slide-menu.active {
    transform: translateX(0);
  }