body {
    padding-top: 90px;
    display: flex;
    justify-content: center; /* 水平方向の中央揃え */
    align-items: center;     /* 垂直方向の中央揃え */
    flex-direction: column;  /* 縦に要素を配置 */
    min-height: 100vh;       /* 画面全体の高さに対応 */
    margin: 0;
    text-align: center;      /* テキスト中央揃え */
}
.star{

}

.icon{

}

.confirmbutton{
margin-left: 1300px
}

.profile{
align-items:center
}

.tag{

}