body {
    padding-top: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 70vh;
    margin: 0;
    background-image: url(../img/SpotLinkbg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #464646;
}

.profile-container{

    align-items: center; /* アイコンとテキストを縦方向に中央揃え */
    /* justify-content: space-evenly; */ /* 左と右の要素の間にスペースを均等に配置 */
    padding: 20px;
    margin: 0 auto; /* 横方向で中央に配置 */
    max-width: 1139px; /* 最大幅を指定して、大きな画面での見栄えを向上 */
    width: 100%; /* 幅を常に100%にする */
    background-color: #f9f9f9; /* 背景色を淡い色にして視認性を向上 */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* 立体感を出すためのシャドウ効果 */
    border-radius: 27px; /* 角を丸めて柔らかい印象を演出 */

}
 
.user-container {
   display: flex;
    align-items: center;
}

.favorite-container{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 100px;
}

form{
    display: flex;

}

button {
    width: 7em;
    height: 4em;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f9f9f9;
    color: white;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color:#f9f9f9;
}


.confirmbutton{
margin-left: 1300px;
background-color: #f9f9f9;
border:#17A7E9;
color: black;
padding: 15px 32px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 16px;
cursor: pointer;
border-radius: 50px; /* 50pxの角丸 */
}

/* button:hover {
    background-color:#17A7E9;
} */

.profile{align-items:center;padding-left: 250px;}

.tag{
    background-color: azure;
    border: 2px solid #17A7E9;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: flex-start;
    /* padding-left: 550px; */
    padding: 0px 40px 0px 40px;
    margin: 0px 170px 0px 170px;
}