body {
    padding-top: 95px;
    justify-content: center;
    flex-direction: column;
    min-height: 70vh;
    margin: 0;
    text-align: center;
    background-image: url(../img/SpotLinkbg.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #464646;
    height: 100%;
    display: flex;
    justify-content: center; /* コンテンツ全体を中央に */
    align-items: flex-start; /* 左側のコンテンツを上寄せ */
    flex-direction: column;
}
 
.profile-container {
    display: flex; /* アイコンとプロフィール情報を横並びに */
    align-items: center; /* アイコンとテキストを中央揃え */
    justify-content: flex-start; /* 左揃え */
    width: 80%; /* コンテナの幅を調整（必要に応じて変更） */
    margin: 0 auto; /* コンテナ全体を中央に配置 */
}

.star{

}

.usericon{
}

.confirmbutton{
margin-left: 1300px
}

.profile{
align-items:center
}

.tag{

}